{% extends '@Forms/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="/js/autocomplete.js"></script>
    <script src="{{ asset('js/article_location.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Launch a new Article! ?</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success
            {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}
        ">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('@Forms/_form.html.twig', {
        button_text: 'Create!'
    }) }}

{% endblock %}
